/* reset styles */
@import url('./reset.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');
}
/*  */

:root {
    --font-accent: 'Caveat', sans-serif;
    --font-base: 'Comfortaa', sans-serif;
}

.container {
    max-width: 420px;
    width: 100%;

    padding: 0 15px;
}

body {
    background: #910000;
    background: linear-gradient(185deg,rgba(145, 0, 0, 1) 0%, rgba(255, 143, 38, 1) 100%) no-repeat;

    font-family: var(--font-base);
}

.happy-element {
    display: none;
}
.happy-element.active {
    display: block;
}
.wishes.happy-element.active {
    display: flex;
}
.no-happy-element {
    display: block;
}
.no-happy-element.active {
    display: none;
}

input {
    padding: 5px;
    border: 1px solid #d44401;
    border-radius: 5px;

    color: #fff;
    font-family: var(--font-base);
}
input::placeholder {
    color: #fff ;
    opacity: 0.5;
}

header {
    padding: 20px 15px;

    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: rgba(0, 0, 0, 0.3) solid 2px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}
.header-nav a {
    color: #fff;

    font-family: var(--font-base);
    font-size: 18px;
    font-weight: 700;

    transition: all 0.2s;
}
.header-nav a:active {
    transform: scale(0.9);
}

a.active-link {
    text-decoration: underline;
}


.no-hidden .container {
    margin-top: 100px;
    text-align: center;
}
.no-hidden-title {
    color: #000000;

    font-family: var(--font-accent);
    font-size: 40px;
    font-weight: 800;

    text-transform: uppercase;
}
.no-hidden-title span {
    color: #eeff00;
    font-weight: 1000;
}
.no-hidden p {
    font-size: 14px;
}

.btn {
    position: relative;
    width: 100%;
    height: 80px;

    margin-top: 15px;
    margin-bottom: 5px;

    font-family: var(--font-base);
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 5px;

    border-radius: 20px;
    border-bottom: solid 3px #d44401;
    border-right: solid 3px #d44401;

    background: #910000;
    background: linear-gradient(185deg,rgba(145, 0, 0, 1) 0%, rgba(255, 143, 38, 1) 100%) no-repeat;
    background-size: 200% 100%;

    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.btn:active {
    transform: scale(0.8);
}

.btn.active {
    animation: btnActiveAnimation 2s;
}

@keyframes btnActiveAnimation {
    0% {
        transform: scale(1);
        background-position: 0% 0%;
    }
    50% {
        transform: scale(0.8);
        background-position: 200% 0%;
        border-bottom: solid 3px #910000;
        border-right: solid 3px #910000;
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.btn::after {
    content: "";
    position: absolute;
    left: -50px; top: 0; bottom: 0;

    background-color: #fff;
    height: 100%;
    width: 40px;
    opacity: 0.5;

    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    transition: all 0.5s ease-in;

    animation: btnAnimation 2.5s infinite;
}
.btn.active::after {
    animation: none;
}
@keyframes btnAnimation {
    0% {
        left: -50px;
    }
    100% {
        left: 120%;
    }
}

/* main block */
.congratulation .arrow {
    position: relative;
    height: 200px;
}

.congratulation .arrow-bottom {
    position: absolute;
    width: 150px;
    margin: 0 auto;

    top: -20px; left: 0; right: 0; bottom: 0;

    transition: all ease-in-out;
    animation: arrowAnimation 3s infinite;
}

@keyframes arrowAnimation {
    0% {
        top: -20px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: -20px;
    }
}

.congratulation .happy-ball {
    position: absolute;
    width: 250px;
    z-index: 1;
    right: 400px; top: 150px;

    transform: scale(1) rotate(15deg);
    transition: all ease;
    animation: ball-animation 10s infinite;
}

@keyframes ball-animation {
    0% {
        right: 365px; top: 150px;
        transform: scale(1) rotate(15deg);
    }
    100% {
        transform: scale(1.2) rotate(15deg);
        right: -250px; top: -200px;
    }
}

.congratulation {
    padding-top: 150px;
    text-align: center;
}

.congratulation-title {
    position: relative;
    padding-top: 150px;
    padding-bottom: 450px;
}

.congratulation-title .title {
    font-family: var(--font-accent);
    font-size: 40px;
    font-weight: 1000;

    text-transform: uppercase;
}
.congratulation-title .title.active {
    color: #eeff00;
}
.congratulation-title .title.active span {
    text-decoration: underline;
}

.xlop-photos {
    width: 100%;
    max-height: 450px;

    z-index: -1;
}


.xlop-block-1 .xlop {
    position: absolute;
    left: -200px; bottom: 10px;
    transform: rotate(15deg);

    transition: all;
    animation: xlop 5s infinite;
}
.xlop-block-1 .happy-element {
    position: absolute;
    left: -110px; top: 90px;
    transform: rotate(15deg);
    opacity: 0;
    z-index: -1;

    transition: all ease-out;
    animation: xlop-konf 5s infinite;
}

.xlop-block-2 .xlop {
    position: absolute;
    right: -200px; bottom: 10px;
    transform: rotate(-15deg);

    transition: all;
    animation: xlop 5s infinite;
}
.xlop-block-2 .happy-element {
    position: absolute;
    right: -110px; top: 90px;
    transform: rotate(-15deg);
    opacity: 0;
    z-index: -1;

    transition: all ease-out;
    animation: xlop-konf 5s infinite;
}

@keyframes xlop {
    0% {
        bottom: 10px;
    }
    5% {
        bottom: 20px;
    }
    10% {
        bottom: 10px;
    }
    15% {
        bottom: 20px;
    }
    20% {
        bottom: 10px;
    }
    100% {
        bottom: 10px;
    }
}

@keyframes xlop-konf {
    20% {
        opacity: 0;
        top: 90px;
    }
    45% {
        opacity: 1;
    }
    70% {
        top: 60px;
        opacity: 1;
    }
    90% {
        opacity: 1;
        top: 60px;
    }
    100% {
        opacity: 0;
        top: 90px;
    }
}


.wishes {
    width: 100%;
    margin-top: -290px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wishes-text {
    max-width: 340px;
}

.wishes-title {
    font-family: var(--font-accent);
    font-size: 40px;
    color: black;

    margin-bottom: 10px;
}

.wishes-text p {
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 2;
}



.washes-block {
    padding-top: 50px;
}
.washes-block label {
    font-size: 22px;
    font-family: var(--font-accent);
    color: #fff;
}
.washes-block input {
    margin-top: 5px;
}

.washes-life > div, .washes-im > div {
    margin-top: 5px;
}

.washes-life > div #no-life, .washes-im > div #no-im {
    margin-left: 30px;
}


.washes .btn {
    width: 100px;
    height: 30px;
    background: #12d400;
    border-bottom: #0b8a00 4px solid;
    border-right: #0b8a00 3px solid;
    font-size: 18px;
    letter-spacing: 0;
}

.washes .button {
    margin-top: 20px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.washes .error {
    color: rgb(255, 0, 0);
    margin-top: 5px;
    display: none;
}

.washes .no-error {
    font-family: var(--font-accent);
    font-size: 28px;
    margin-top: 10px;

    color: #12d400;
    display: none;
}

.washes .no-error.active {
    display: block;
}

.washes .error-active {
    display: block;
}

.wishes-text-js .wishes-title-container {
    position: relative;
    margin-top: 40px;
    padding-bottom: 104px;
}
.wishes-text-js .wishes-title-container img {
    position: absolute;
    top: -30px; left: -70px; right: 0; bottom: 0;
    max-width: none;
    width: 130%;
    height: auto;
}


.wishes-text-container {
    position: relative;
}

.wishes-text-container img {
    max-width: none;
    margin-left: -30px;
    width: 120%;

    box-shadow: 0 0 1000px #94023a
}


.wishes-happy-text {
    position: absolute;
    margin-top: 30%;
    margin-left: 70px;
    z-index: 1;
    font-family: var(--font-accent);
    font-size: 18px;

    max-width: 200px;
}


.photo-albom {
    margin-top: 150px;
}

.photo-albom-title {
    text-align: center;
    font-family: var(--font-accent);
    font-size: 50px;
}

.grid-img-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.footer {
    margin-top: 80px;
    background-color: rgba(212, 68, 0, 0.5);
    border-top: rgba(0, 0, 0, 0.3) solid 2px;
    border-bottom: rgba(0, 0, 0, 0.3) solid 2px;
}

.footer-title {
    font-family: var(--font-accent);
    font-size: 40px;
    text-align: center;
}

.podval-footer {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
    padding: 5px 0;
    text-align: center;
}

.inner-box {
    padding: 100px 0;
}

.video-albom {
    margin-top: 20px;
    position: relative;
}

.video-albom video {
    max-width: 340px;
}

.main-photos .photo-albom {
    margin-top: 20px;
}

.you-photos__title {
    font-family: var(--font-accent);
    font-size: 30px;
    text-align: center;

    padding: 350px 0;

}
